# Ignore Terraform state and backup files
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
# Ignore sensitive or local config
*.auto.tfvars
*.auto.tfvars.json
# Ignore plan output
*.tfplan
# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# Ignore local execution files
.terraformrc
terraform.rc
